body {
  font-family: "Times New Roman";
  background-color: #ffffff;
}

.container {
  margin: auto;
  width: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
}

.container {
  margin: auto;
  width: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

select,
input[type="text"],
input[type="date"],
input[type="time"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #028a0f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.4s ease;
}

input[type="submit"]:hover {
  background-color: #000000;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

nav a {
  margin: 0 auto;
  color: #ffffff;
  text-decoration: none;
}