a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Times New Roman";
  background-color: #ffffff;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  border-collapse: collapse;
}

th, td {
    border: 1px solid black;
  }

td {
  vertical-align: middle;
}
